/* General css*/
.section{
position: relative;
block-size: 100vh;
}
.textCyan{
  color: #00ADB5;
}
/*Section 1*/
.home {
  position: absolute;
  width: 99vw;
  height: 99vh;
  opacity: 5%;
  background-image: url('../images/hardware.png');
}
.Devna{
  opacity: 100%;
  width: 60%; 
  height: auto;
  margin: 0 auto;
  padding: 8%;
  position: relative;
  top: -40px;
}
.text{
  position: relative;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.025em;
  color: #E6EED6;
  }
  .arrow{
    justify-content: space-between;
    text-align:center;
    position: relative;
    top: -20px;
  }
  .arrowText{
    text-align:center;
    position: relative;
    font-family: 'Helvetica Now Text ';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 113%;
    top:-10px;
    letter-spacing: -0.025em;  
    color: #00ADB5;
  }
  /* Section 2*/
.descrition{
position: relative;
font-family: 'Helvetica Now Text ';
font-style: bold;
font-weight: 400;
font-size: 140px;
line-height: 113%;
letter-spacing: 0.03em;
color: #E6EED6;
margin-left: 15%;
margin-top: 5%;
margin-bottom: 60px;
margin-right: 25%;
left: 5%;
top: 10%
}
.mac{
  width: 50.6%;
  position:relative;
  left: 50%;
  right:50%;
  top: -25.2%;
  bottom: 0%;

}
.btn1{
  position: relative;
  left: 30%;
  bottom: 0%;
  top: 7%;
}
.arrow1{
  position: relative;
  width: 100px;
  height: auto;
  top: 7%;
  left:32%;
}
.btn_arrow{
  position: relative;
  top:-55%;
}
.OurServices{
  position: relative;
 width: 60px;
 top: -90%;
 right: -2%;
}
/*Services*/


/*Contact*/
