/* General css*/
.section{
position: relative;
block-size: 100vh;
}
.textCyan{
  color: #00ADB5;
}
.Devnaword{
  color: #00ADB5;
  font-style: italic;
}
/*Section 1*/
.home {
  position: absolute;
  width: 99vw;
  height: 99vh;
  opacity: 5%;
  background-image: url('../images/hardware.png');
}
.Devna{
  opacity: 100%;
  width: 60%; 
  height: auto; 
  left: 20%;
  position: relative;
  top:10%;
}
.text{
  position: relative;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.025em;
  color: #E6EED6;
  }
  .arrow{
    justify-content: space-between;
    text-align:center;
    position: relative;
    top: 15%;
  }
  .arrowText{
    text-align:center;
    position: relative;
    font-family: 'Helvetica Now Text ';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 113%;
    letter-spacing: -0.025em;  
    color: #00ADB5;
  }
  /* Section 2*/
.descrition{
width: fit-content;
position: relative;
font-family: 'Helvetica Now Text ';
font-style: bold;
font-weight: 400;
font-size: 120px;
line-height: 113%;
letter-spacing: 0.03em;
color: #E6EED6;
margin-left: 15%;
margin-top: 5%;
margin-bottom: 60px;
margin-right: 25%;
left: 5%;
top: 10%
}
.mac{
  width: 50.6%;
  height: fit-content;
  position:relative;
  left: 50.1%;
  bottom: 18.5%;

}
.btn1{
  position: relative;
 left: 25%;
}
/*.arrow1{
  position: relative;
  width: 100px;
  height: auto;
  top: 7%;
  left:32%;
}*/
.btn_arrow{
  position: relative;
  bottom: 45%;
}
.OurServices{
  position: relative;
 width: fit-content;
 bottom: 70%;
 left: 2.5%;
}
/*Services*/
.boxcontainer{
  position: relative;
  display: flex;
  gap: 113px;
  width:100vw;
  justify-content: center;
  align-items: center;
  bottom: 25%;
}
.Arrow2{
  width: fit-content;
 position: relative;
 left:31.5%;

}
.OurS{
  width: 40%;
  position: relative;
  left: 15%;
}
.nam{
  position: relative;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.25px;
left: 13%;
bottom: 30%;
width: fit-content;
}

.what{
  position: relative;
  left: 60%;
  bottom:15%;
  width: 25%;
  height: fit-content;
}
.About{
  position: relative;
  bottom: 50%;
  left: 2.5%;
  width: fit-content;
}
/*Team1*/
.teamtext{
width: fit-content;
position: relative;
top: 11%;
left: 15%;
font-family: 'Work Sans';
font-weight: 500;
font-size: 102px;
line-height: 120px;
letter-spacing: -1.5px;
}
.teamarrow{
  width: fit-content;
  position: relative;
  top: 0%;
  left: 2.5%;
}
/*team2*/
.teamtext2{
  width: fit-content;
  position: relative;
  top: 11%;
  left: 15%;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 102px;
  line-height: 120px;
  letter-spacing: -1.5px;
  font-style: bold;
  }

/*Contact*/